<div class="table">

    <table>

        <tr class="table-header">
            <th class="name">Имя</th>
            <th class="doctor">Врач</th>
            <th class="date">Дата</th>
            <th class="complains">Жалобы</th>
            <th class="buttons"></th>
        </tr>

        <div class="table-body">

            <div class="body-markup">
                <div class="name"></div>
                <div class="doctor"></div>
                <div class="date"></div>
                <div class="complains"></div>
                <div class="buttons"></div>
            </div>

            <tr class="table-item">
                <td class="name">Иванов Иван Иванович</td>
                <td class="doctor">Иванов Иван Иванович</td>
                <td class="date">02.01.2020</td>
                <td class="complains">Болит живот</td>
                <td class="buttons">Удалить</td>
            </tr>

        </div>


    </table>

<!--    <div class="table-body">-->
<!--        <div class="body-markup">-->
<!--            <div class="name"></div>-->
<!--            <div class="doctor"></div>-->
<!--            <div class="date"></div>-->
<!--            <div class="complains"></div>-->
<!--            <div class="buttons"></div>-->
<!--        </div>-->

<!--        <div class="table-item">-->
<!--            <span class="name">Иванов Иван Иванович</span>-->
<!--            <span class="doctor">Иванов Иван Иванович</span>-->
<!--            <span class="date">02.01.2020</span>-->
<!--            <span class="complains">Текст с жалобами пользователя на приеме</span>-->
<!--            <span class="buttons"></span>-->
<!--        </div>-->
<!--    </div>-->





</div>
