<div class="auth">
    <img src="../../assets/main.svg" alt="">

    <div class="auth-window">
        <div class="login-window" *ngIf="!registrationStatus; else register">
            <p class="auth-window-title">{{windowTitle}}</p>

            <div class="login-inputs">

                <div class="login-inputs">
                    <div class="login-input">
                        <label>Login:</label>
                        <input type="text" placeholder="Login">
                    </div>

                    <div class="input-password">
                        <label>Password:</label>
                        <input type="password" placeholder="Password">
                    </div>
                </div>

                <div class="auth-buttons">
                    <a class="login-btn">Войти</a>
                    <a class="register-btn" (click)="toggleLoginToRegistration()">Зарегистрироваться</a>
                </div>
            </div>
        </div>

        <ng-template #register>
             <div class="register-window">
                 <p class="register-title">{{windowTitle}}</p>

                  <div class="register-inputs">

                       <div class="register-inputs">
                            <div class="login-input">
                                <label>Login:</label>
                                <input type="text" placeholder="Login">
                            </div>

                            <div class="input-password">
                                <label>Password:</label>
                                <input type="password" placeholder="Password">
                            </div>

                            <div class="input-password">
                                <label>Repeat password:</label>
                                <input type="password" placeholder="Password">
                            </div>

                        </div>

                        <div class="register-buttons">
                            <a class="register-btn">Зарегистрироваться</a>
                            <a class="login-btn" (click)="toggleLoginToRegistration()">Авторизоваться</a>
                        </div>

                    </div>

                </div>

        </ng-template>

    </div>
</div>
