.app-header {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    box-shadow: 0 12px 4px -4px rgba(0, 0, 0, .3);

    .header-title {
        font-weight: 300;
        font-size: 36px;
        margin-left: 75px;
    }
    .header-logo {
        margin-left: 45px;
    }
}

